$font-family-sans-serif: "Rubik",
"SF Pro Text",
-apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
"Helvetica Neue",
Arial,
sans-serif;

$enable-responsive-font-sizes:true;

$primary: #3F51B5;
//$enable-gradients: true;

