@import "./variables";
@import "./customized_bootstrap";
@import "./mixins";
@import "./functions";

::selection {
  color: var(--white);
  background:var(--primary)
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.font-weight {
  &-medium {
    font-weight: 500;
  }
}


.transition {
  &__default {
    transition: all 0.3s ease-in-out;
  }
}


