@import "./variables";
@import "./customized_bootstrap";
@import "./mixins";
@import "./functions";


::selection {
  color: var(--white);
  background:var(--primary)
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.font-weight {
  &-medium {
    font-weight: 500;
  }
}

.page {
  &-enter-active,
  &-leave-active {
    transition: all 0.2s ease;
  }

  &-enter,
  &-leave-active {
    transform: scale(0.9);
    opacity: 0;
  }
}

.transition {
  &__default {
    transition: all 0.3s ease-in-out;
  }
}


